@mixin title {
    margin: 0;

    font-family: $font-family-title;

    letter-spacing: 0.06em;

    text-align: center;

    color: $main-color;
}

@mixin shape ($width, $background-color, $border-radius, $transform-left, $transform-right, $left-position, $right-position) {
    position: relative;
    z-index: 1;
    min-width: $width;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        z-index: -1;
        background-color: $background-color;

        border-radius: $border-radius;
    }
    &::before {
        transform: $transform-right;
		left: $left-position;
    }

    &::after {
        left: auto;
        transform: $transform-left;
		right: $right-position;
    }
}

@mixin crop-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin center-position {
    display: block;
    margin: 0 auto;
}

@mixin gradient($bg-color) {
    background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, $bg-color 100%);
}