.gradient {
    @include gradient(#D9D0E4);
    position: absolute;
    z-index: -1;

    bottom: -44px;
    left: 0;
    width: 100%;
    height: 173px;
    
    opacity: 0.3;
    &--first {
        @include gradient(#FFB84A);
    }
    &--third {
        @include gradient(#EECA94);
    }
}